results/*
results*
data/preprocessing
!results/Example_Result/
!results/Example_Result_2025/
checkpoints*
.env
data/raw*
__pycache__/
tmp/
rename.ipynb
tmp*
evaluation*
evaluation!
demo*
.vscode
*.log